/*Этот файл нужен для обнуления стилей по умолчанию (прописаны в каждом браузере)*/

*, *::before, *::after {
    padding: 0%;
    margin: 0%;
    border: none;
    box-sizing: border-box; /* включает в размер элемента отступы(внутренние и внешние) */
}

a, a:visited, a:hover {
    color: inherit; /* наследование цвета от родителей */
    text-decoration: none;
}

a:focus, a:active {
    outline: none; /* убирает подчёркивание ссылок по умолчения*/
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit; /* наследовать стили от родительского элемента*/
    font-weight: inherit;
    line-height: inherit;
}

p + p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img, svg, video {
    display: inline-block; /* Даёт возможность применять к ним свойства блоков*/
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover; /*Если не помещается, то обрезает объект, чтобы занимал весь блок*/
}


/* стили для кнопок и форм*/

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button, input [tupe="sublimit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: none;
    border: none;
}

label {
    cursor: pointer;
}

legend { /* описание */
    display: block;
}